<div id="<%= dom_id publication %>">
  <p>
    <strong>User:</strong>
    <%= publication.user_id %>
    <br>
    <%= publication %>
    <%# <%= publication.user_name || publication.user_id %>
  </p>

  <p>
    <strong>Header:</strong>
    <%= publication.header %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= publication.body %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= publication.created_at %>
  </p>
</div>
